.navbarItems {
  height: 90px;
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.2rem;
  background: whitesmoke;
}

.navbar-logo {
  display: flex;
  color: rgb(27, 66, 32);
  font-family: "Poiret One", cursive;
  font-size: xx-large;
  margin-top: 0;
}

.nav-menu {
  display: inline-flex;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70vw;
  justify-content: center;
  margin-left: 5rem;
  margin-top: auto;
}

.nav-links {
  color: rgb(27, 66, 32);
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
}

.nav-links:hover {
  background-color: rgb(173, 217, 175);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: rgb(59, 56, 80);
}

.fa-leaf {
  margin-top: 5px;
  color: rgb(27, 66, 32);
}

.fa-bars {
  color: rgb(27, 66, 32);
  transform: translate(5%, 10%);
}
.fa-times {
  color: white;
  transform: translate(5%, 10%);
}

.nav-links-mobile {
  display: none;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 1158px) {
  .NavbarItems {
    position: relative;
  }
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 600px;
    position: relative;
    top: 90px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    margin-right: 20px;
  }

  .nav-menu.active {
    background: rgba(26, 29, 27, 1);
    left: 0;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
    color: whitesmoke;
    line-height: 1.18;
  }

  .nav-links:hover {
    background-color: rgb(173, 217, 175);
    border-radius: 0;
  }

  .navbar-logo {
    position: absolute;
    color: rgb(27, 66, 32);
    top: 0;
    left: 0;
    transform: translate(5%, 10%);
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(5%, 10%);
    padding-right: 5%;
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: rgb(27, 66, 32);
    font-size: 2rem;
  }

  .nav-links-mobile {
    display: block;
    text-align: center;
    padding: 1.5rem;
    margin: 2rem auto;
    border-radius: 4px;
    background: whitesmoke;
    text-decoration: none;
    color: rgb(27, 66, 32);
    font-size: 1.5rem;
  }

  .nav-links-mobile:hover {
    background-color: rgb(173, 217, 175);
    color: rgb(59, 56, 80);
    transition: 250ms;
    opacity: 40%;
  }

  .loginButton {
    opacity: 0;
  }
}
