h2 {
    font-family: 'Poiret One', cursive;
    font-size: 2rem;
    color: whitesmoke;
}

#registerContainer {
    background-image: url("../../Images/pexels-irina-iriser-1090977.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 89.4vh;
}

#registerHeader{
    margin-top: 5vh;
}