/* h1 {
    text-align: center;
} */
/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
} */
body { padding-top: 70px; }
.main-footer {
 /* background: transparent; */
}

#footer-text {
 text-align: center;
 /* background: transparent; */
}
