#chatContainer {
  background-image: url("../../Images/chat-background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 142.4vh;
  justify-self: center;
}

h1 {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  font-size: 4rem;
  color: whitesmoke;
  text-align: center;
}

h2 {
  font-family: "Poiret One", cursive;
  font-size: 12rem;
  color: whitesmoke;
  text-align: center;
}

h3 {
  text-align: left;
}

.TextField {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  font-size: 4rem;
  color: whitesmoke;
  text-align: center;
}

p {
  font-family: "Poiret One", cursive;
  font-weight: bolder;
  font-size: 2rem;
  color: whitesmoke;
  text-align: left;
}

/* .card {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  background: rgba(26, 29, 27, 0.6);
  color: white;
  border: none;
  justify-items: center;
} */

.message {
  font-family: "Poiret One", cursive;
  font-size: 2.5rem;
  color: white;
  text-align: center;
}

.headingMessage {
  font-family: "Poiret One", cursive;
  font-size: 2.5rem;
  color: whitesmoke;
  text-align: center;
  margin-right: 50px;
}

.replyButton {
  text-align: right;
}
/* .render-chat {
  justify-content: center;
} */
