h2 {
    font-family: 'Poiret One', cursive;
    font-size: 2.5rem;
    color: whitesmoke;
}

#loginContainer {
    background-image: url("../../Images/pexels-pixabay-269255.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 91vh;
}

#login-title{
    margin-top: 5vh;
}