h1 {
  font-family: "Poiret One", cursive;
  font-size: 4rem;
  color: white;
}

.card {
  margin-left: auto;
  margin-right: auto;
  background: rgba(26, 29, 27, 0.6);
  color: white;
  border: none;
}

.card-text {
  font-family: "Raleway", sans-serif;
  padding-top: 2vh;
  font-size: 1rem;
}

.landingBackground {
  background-image: url("../../Images/pexels-garrett-morrow-1638073.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 8vh;
  width: 100%;
  height: 88.4vh;
}

#landingBtn {
  color: rgb(27, 66, 32);
  background-color: whitesmoke;
  font-family: "Raleway", sans-serif;
  border-radius: 4px;
  font-size: 20px;
  border: whitesmoke;
}

#landingBtn:hover {
  background-color: rgb(173, 217, 175);
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: rgb(59, 56, 80);
}
