.loginform {
    margin-top: 5vh;
}

#loginEmail {
    margin-bottom: 5vh;
}

.loginBtn {
    margin-top: 5vh;
    color: white;
    background-color: rgb(27, 66, 32);
    font-family: "Raleway", sans-serif;
    border-radius: 4px;
    font-size: 22px;
    border: rgb(27, 66, 32);
}

.loginBtn:hover {
    background-color: rgb(173, 217, 175);
    border-radius: 4px;
    transition: all 0.2s ease-out;
    color: rgb(59, 56, 80);
}    

