.plant-card {
    justify-content: space-around;
    margin-bottom: 2rem;
}

.nav-search{
    margin: 2rem;
}

.card-body {
    margin-left: auto;
    margin-right: auto;
    font-family: "Raleway", sans-serif;
    text-align: center;
}

.list-group-item {
    color: rgb(59, 56, 80);
    font-family: "Raleway", sans-serif;
}

.card-link {
    color: whitesmoke;
}

.card-link:hover {
    color: rgb(173, 217, 175);
    text-decoration: underline;
}

.nav-search {
    font-family: "Raleway", sans-serif;
}